<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopify Backend Intern Challenge 2022</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <div>
            <h1>Inventory Management System</h1>
          </div>
        </div>
      </nav>
    </header>
    <!---->
    <main>
      <h3>Add Item</h3>
      <div class="container">
        <label for="name">Item Name</label><br />
        <input id="addItemName" type="text" /><br /><br />
        <label for="warehouse">Warehouse</label><br />
        <input id="addWarehouse" type="text" /> <br /><br />
        <label for="weight">Weight in Kilos</label><br />
        <input id="addWeight" type="number" /> <br /><br />
        <label for="category">Category</label><br />
        <input id="addCategory" type="text" /> <br /><br />
        <label for="description">Description</label><br />
        <input id="addDescription" type="text" /> <br /><br />

        <button id="submit-btn">Add Item</button>
        <script type="module" src="static/add.js"></script>
      </div>
    </main>
    <br />
    <br />
    <br />
    <br />
    <!---->
    <form action="/" method="POST">
      <h3>Inventory</h3>
      <table border="1" , style="border-spacing: 10px">
        <thead>
          <tr>
            <th>Action</th>
            <th>Item Name</th>
            <th>Warehouse</th>
            <th>Weight in Kilos</th>
            <th>Category</th>
            <th>Date Updated</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < inventory.length; i++) {%>
          <tr>
            <td>
              <a href="/update">Edit</a>
              <a href="#">Delete</a>
            </td>
            <td><%=inventory[i].itemName%></td>
            <td><%=inventory[i].warehouse%></td>
            <td><%=inventory[i].weight%></td>
            <td><%=inventory[i].category%></td>
            <td><%=inventory[i].dateAdded%></td>
            <td><%=inventory[i].description%></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </form>
  </body>
</html>
